@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< staging
	<h1>
		Welcome To Azure for .Net Developers
	</h1>
	<h3>
		We are here to learn about the different Microsoft Azure feaures and .NET Core Development
	</h3>
=======
	<h1 class="display-4">Welcome To Azure App Services - Visual Studio 2022 BM</h1>
	<h3>@ViewData["Greeting"]</h3>
>>>>>>> main
</div>
,cxvcx,